    		<%= pf.label :fragment_name,"Name"%>
        	<%= pf.text_field :fragment_name %><br><br>
	        <%= pf.label :product_size,"Size" %>
    	    <%= pf.text_field :product_size, :placeholder => "bp" %><br><br>
    	    <div class="primer">
	    	    	<%= pf.fields_for :for_primer do |prif|%>
				        <%= prif.label :for_primer_label,"Forward primer" %> 
		    		    <%= prif.text_field :for_primer_label %><br><br>
		    		<%end%>
		    		<%= pf.fields_for :rev_primer do |prif|%>
				        <%= prif.label :rev_primer_label,"Reverse primer" %> 
		    		    <%= prif.text_field :rev_primer_label %><br><br><br>
		    		<%end%>
	    		</div>
    	    <%= pf.label :final_vector %>
    	    <%= pf.text_field :final_vector %><br><br>
    	    	
</div>
<div id = "pcr" class="stepback">
    <h2>PCR condition</h2><br>
    		<%= pf.label :enzyme,"Polymerase" %>
	        <%= pf.text_field :enzyme %><br><br>
    		<%= pf.fields_for :pcr_conditions do |pcf|%>
	    	<%= pcf.label :machine %> 
	        <%= pcf.text_field :machine %><br><br>
	<div class="temp">
	        <%= pcf.number_field :break, :class => "short",					in:95..100%> °C
	        <%= pcf.number_field :break_t, :class => "short",				in:1..15%> min<br><br>
	        <%= pcf.number_field :denature, :class => "short",				in:95..100%> °C
	        <%= pcf.number_field :denature_t, :class => "short",				in:1..3%> min<br>
	        <%= pcf.number_field :annealing, :class => "short",				in:40..60%> °C
	        <%= pcf.number_field :annealing_t, :class => "short",			in:1..3%> min<br>
	        <%= pcf.number_field :elongation, :class => "short",				in:65..75%> °C
	        <%= pcf.number_field :elongation_t, :class => "short",			in:1..10%> min<br><br>
	        <%= pcf.number_field :polya, :class => "short",					in:65..75%> °C
	        <%= pcf.number_field :polya_t, :class => "short",				in:1..10%> min<br><br>
	        <div class="cycles">
	        <%= pcf.number_field :cycles, :class => "short",	in:20..45%> Cycles
	        </div>
	        <%end%>
	</div>
