<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CHYLab - Experimental Note</title>
	</head>
	<body>
		<div class="container">
			<div id="tabs" class="tabs">
				<header class="clearfix">
					<h1 class="title-current">Fragment Cloning</h1>
				</header>
				<%= form_for @pcr, {:url => dashboard_pcr_path, :method => "patch"} do |pf| %>
					<div class="stepback">
				   	<h2>Fragment for <%= @pcr.gene.gene_name %></h2><br>
					    <%= render :partial => 'pcrform', :locals => { :pf => pf } %>
					    <%= pf.label :final_vector %>
    					<%= pf.text_field :final_vector %><br><br>
					    <%= render :partial => 'pcr_condition', :locals => { :pf => pf } %>
					</div>
					<%= pf.submit "Submit", :class => "submit" %>
					
					
					<% @pcr.errors.full_messages.each do |err| %>
						<ul id="erralert" style="list-style-type:disc"><li class="err"><%=err%></li></ul>
					<%end%>
					
					
				<%end%>
			</div>
		</div>
	</body>
	<style>
	
	</style>
	<script>
	var forseq = $("#forseq").val().toUpperCase();
	var revseq = $("#revseq").val().toUpperCase();
	function check(site){
	  var enzymes= ["CTGCAG", "GAATTC", "GGATCC", "TCTAGA", "AAGCTT"];
	  var i = 0;

	  while (enzymes[i]) {
        if(site.match(enzymes[i])){
          var enz = enzymes[i];
        }
        i++;
      }

      switch(enz){
        case "CTGCAG":
          return "PstI";
          break;
        case "GAATTC":
          return "EcoRI";
          break;
        case "GGATCC":
          return "BamHI";
          break;
        case "TCTAGA":
          return "XbaI";
          break;
        case "AAGCTT":
          return "HindIII";
          break;
      }
    }

	$(document).ready(function(){
      $("#forseq").blur(function(){
        $("#forre").val(check(forseq));
      });
      $("#revseq").blur(function(){
        $("#revre").val(check(revseq));
      });
    });


	</script>
</html>