<!DOCTYPE html>
<html lang="en">
<head>
		
</head>
<body>
	<div class="container">
		<div id="tabs" class="tabs">
			<header class="clearfix">
				<h1 class="title-current">PCR products</h1>
			</header>
			<div class="content">
			<% @gene.each do |g| %>
			<div class="gene">
				<%= link_to  :controller => 'pcrs', :action =>'geneshow', :id => g do%>
				<h2><%= g.gene_name %>
				<span class="genedetail">Details</span>
				<%end%>
				<%= link_to  :controller => 'pcrs', :action =>'genenewpcr', :id => g do%>
				<span class="genenew">New</span>
				<%end%>
				</h2>
				<% g.pcrs.each do |p| %>
				<div class="pcrs">
					<div class="pcr">
					<span>Fragment:	</span><%=p.fragment_name%><br>
					<span>Size:		</span> <%=p.product_size%><%=" bp" unless p.product_size.nil?%><br>
					<span>Final vector:	</span><%=p.final_vector%><br>
					<span>Enzyme :	</span><%=p.enzyme%><br>
					<span>Machine :	</span><%=p.machine%><br><br>
					<span>Condition :	</span><%=p.machine%><br>
					<span><%=p.break%><%=" °C " unless p.break_t.nil?%><%=p.break%><%=" min " unless p.break_t.nil?%></span><br>

					<br>
					<span><%=p.created_at.strftime("%H:%M %D")%></span>
					</div>
					<div class="edit">
					<%= link_to "detail", pcr_path(p) %>
					<%= link_to "delete", pcr_path(p), :method => :delete, :data => { :confirm => "Are you sure?" } %><br><br>	<br><br>
					</div>
				</div>

			<%end%>
			</div>
			</div>
			<%end%>
		</div>
	</div>
</body>

</html>