<!DOCTYPE html>
<html lang="en">
<head>
	<title>CHYLab - Experimental Note</title>
</head>
<body>
	<div class="container">
		<div id="tabs" class="tabs">
			<header class="clearfix">
				<h1 class="title-current">PCR products</h1>
			</header>
			<div class="content">
				<div class="gene">
				<h2><%= @pcr.gene.gene_name %></h2>
					<div class="detail">
						<span class="label">Fragment: </span><span><%=@pcr.fragment_name%></span><br>
						<span class="label">Size: </span><span><%=@pcr.product_size%><%=" bp" unless @pcr.product_size.nil?%></span><br>
						
						<span class="label">reverse: </span><span><%=@pcr.enzyme%></span><br>
						<span class="label">Polymerase: </span><span><%=@pcr.enzyme%></span><br>
						<span class="label">Machine: </span><span><%=@condition.machine%></span><br><br>
						<span><%=@pcr.break%> °C <%=@pcr.break_t%> min</span><br>
						<br>
						<span><%=@pcr.denature%> °C <%=@pcr.denature_t%> min</span><br>
						<br>
						<span><%=@pcr.annealing%> °C <%=@pcr.annealing_t%> min ------ <%=@pcr.cycles%> cycles min</span><br>
						<br>
						<span><%=@pcr.elongation%> °C <%=@pcr.elongation_t%> min</span><br>
						<br>
						<span><%=@pcr.polya%> °C <%=@pcr.polya_t%> min</span><br>
						<br><br>
						<span><%=@pcr.created_at.strftime("%H:%M %D")%></span>
						<div class="edit">
						<%= link_to "EDIT", edit_dashboard_gene_pcr_path(@pcr.gene, @pcr)%>
						<%= link_to "DELETE", dashboard_gene_pcr_path(@pcr.gene, @pcr.gene), :method => :delete, :data => { :confirm => "Are you sure?" } %>
						<%= link_to "BACK", genes_path %><br><br>	<br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<style>

</style>
</html>