<!DOCTYPE html>
<html lang="en">
<head>
  <title>CHYLab - Experimental Note</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
  </script>
    
</head>
<body>
  <div class="container">
	<div id="tabs" class="tabs">
	  <header class="clearfix">
		<h1 class="title-current">PCR products</h1>
	  </header>
	  <div class="content">
		<div class="gene">
		  <h2><%= @pcr.gene.gene_name %></h2>
		  <div class="detail">
			<span class="label">Fragment: </span><span><%=@pcr.fragment_name%></span><br>
			<span class="label">Size: </span><span><%=@pcr.product_size%><%=" bp" unless @pcr.product_size.nil?%></span><br>
			<span class="label">Forward: </span><span><%=@pcr.for_primer.for_primer_label%></span><br>
			<span class="label">5'RE: </span><span><%=@pcr.for_primer.for_restrict_site%></span><br>
			<span class="label">Reverse: </span><span><%=@pcr.rev_primer.rev_primer_label%></span><br>
			<span class="label">3'RE: </span><span><%=@pcr.rev_primer.rev_restrict_site%></span><br>
			<span class="label">Final vector: </span><span><%=@pcr.final_vector%></span><br><br>

			<% if @pcr.gene.sequence %>
			  <% @pcr.gene.sequence.sub("\n\r","")%>
			  <% a = @pcr.gene.sequence.gsub(/\s+/,'')%>
			  <svg width="300" height="50">
			  <line x1="0" y1="10" x2="300" y2="10" style="stroke:#599ab9;stroke-width:5" />
			  <%= b = a.scan(/[a-z][A-Z]+/)%>
			  <% b.each do |e|%>
			    <% ex = a.index(e) %>
			    <% b[0]%>
				<rect x="<%=ex*300/a.length%>" width="<%=e.length*300/a.length%>" height="20" style="fill:#599ab9;stroke-width:1" />
		      <%end%>
			  </svg>
			<%else%>
			  <span>If you give me the sequence of primers, I'll show you the positions on the gene</span><br><br>
			<%end%>

			<span><%=@pcr.created_at.strftime("%H:%M %D")%></span>
			<div class="edit">
			  <%= link_to "EDIT", edit_dashboard_pcr_path(@pcr)%>
			  <%= link_to "BACK", dashboard_genes_path %><br><br>	<br><br>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</body>
<style>

</style>
<script>

</script>
</html>