<!DOCTYPE html>
<html lang="en">
<head>
  <title>CHYLab - Experimental Note</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
  </script>
    
</head>
<body>
  <div class="container">
	<div id="tabs" class="tabs">
	  <header class="clearfix">
		<h1 class="title-current">PCR products</h1>
	  </header>
	  <div class="content">
		<div class="gene">
		  <h2><%= @pcr.gene.gene_name %></h2>
		  <div class="detail">
			<span class="label">Fragment: </span><span><%=@pcr.fragment_name%></span><br>
			<span class="label">Size: </span><span><%=@pcr.product_size%><%=" bp" unless @pcr.product_size.nil?%></span><br>
			<%if @pcr.for_primer %>
			<span class="label">Forward: </span><span><%=@pcr.for_primer.for_primer_label%></span><br>
			<span class="label">5'RE: </span><span><%=@pcr.for_primer.for_restrict_site%></span><br>
			<%end%>
			<%if @pcr.rev_primer %>
			<span class="label">Reverse: </span><span><%=@pcr.rev_primer.rev_primer_label%></span><br>
			<span class="label">3'RE: </span><span><%=@pcr.rev_primer.rev_restrict_site%></span><br>
			<%end%>
			<span class="label">Final vector: </span><span><%=@pcr.final_vector%></span><br><br>
			
			<% if @pcr.gene.sequence %>
			  <% a = @pcr.gene.sequence.gsub(/\s+/,'')%>
			  <% r = 300 / a.length.to_f %>
			  <% exon = a.scan(/[A-Z]+/)%>
			  <% cdna = a.scan(/[A-Z]+/).join%>
			  <% ex = a.index(exon[0]) %>
			  <% futr = ex %>
			  <% rutr = a.length-(a.index(exon[1])+exon[1].length) %>
			  <% cdnalength = futr + cdna.length + rutr %>
			  <% ratio = a.length/cdnalength.to_f %>
			  <!--for primer-->
			  <%if @pcr.for_primer %>
			    <%if @pcr.for_primer.for_sequence %>
			      <% fps = @pcr.for_primer.for_sequence.upcase %>
			      <% fpx1 = a.index(fps.slice!(6..-1))*r*ratio %>
			      <% fpl = @pcr.for_primer.for_sequence.length*r*ratio %>
				  <svg width="300" height="15">
			 	    <polygon points="<%=fpx1%>,2 <%=fpx1+fpl%>,2 <%=fpx1+fpl+5%>,7 <%=fpx1+fpl%>,12 <%=fpx1%>,12" style="fill:#599ab9;stroke-width:1" />
				  </svg><br>
			    <%end%>
			  <%else%>
			    <span>forward primer</span>
			  <%end%>

			  <!--cDNA-->
			  <svg width="300" height="25">
			  <line x1="0" y1="10" x2="300" y2="10" style="stroke:#599ab9;stroke-width:5" />
			  <rect x="<%= ex*r*ratio %>" width="<%= cdna.length*r*ratio %>" height="20" style="fill:#599ab9;stroke-width:1" />
			  </svg><br>
			  
			  <!--rev primer-->
				<%if @pcr.rev_primer %>
				  <%if @pcr.rev_primer.rev_sequence %>
			        <% rps = @pcr.rev_primer.rev_sequence.upcase %>
			        <% convert =rps.slice!(6..-1).reverse.gsub(/[ATCG]/,'T'=>'A','A'=>'T','G'=>'C','C'=>'G') %>
			        <% rpx1 = (cdna.index(convert)+futr)*r*ratio %>
			        <% rpl = @pcr.for_primer.for_sequence.length*r*ratio %>
				    <svg width="3000" height="15">
			 	    <polygon points="<%=rpx1+rpl%>,2 <%=rpx1%>,2 <%=rpx1-5%>,7 <%=rpx1%>,12 <%=rpx1+rpl%>,12" style="fill:#599ab9;stroke-width:1" />
				  </svg><br>
			      <%end%>
			    <%else%>
			      <span>revers primer</span>
			    <%end%>

			<%else%>
			  <span>Give me the sequence of the gene, and I'll show you the graphic.</span><br>
			<%end%><br>
			<span><%=@pcr.created_at.strftime("%H:%M %D")%></span>
			<div class="edit">
			  <%= link_to "EDIT", edit_dashboard_pcr_path(@pcr)%>
			  <%= link_to "BACK", dashboard_genes_path %><br><br>	<br><br>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</body>
<style>

</style>
<script>

</script>
</html>