<!DOCTYPE html>
<html lang="en">
<head>
  <title>CHYLab - Experimental Note</title>
</head>
<body>
  <div class="container">
	<div  id="tabs" class="tabs">
	  <header class="clearfix">
		<h1 class="title-current">Gene <span>informations</span></h1>
	  </header>
	  <div class="content">
		<div class="geneshow">
		  <h2><%= @gene.gene_name %></h2>
		  <div class="genedetail">
			<span class="label">Species:</span><span> <%=@gene.species%></span><br>
			<span  class="label">ID:</span><span> <%=@gene.number%></span><br>
			<span  class="label">Size: <span><%=@gene.size%><%= " bp " unless @gene.size.blank? %></span></span><br>
		  </div>
		  <div>
			<% unless @gene.sequence.blank? %>
			  <% @gene.sequence.sub("\n\r","")%>
			  <% a = @gene.sequence.gsub(/\s+/,'')%>
			  <svg width="300" height="50">
			  <line x1="0" y1="10" x2="300" y2="10" style="stroke:#599ab9;stroke-width:5" />
			  <%= b = a.scan(/[A-Z]+/)%>
			  <% b.each do |e|%>
			    <% ex = a.index(e) %>
			    <% b[0]%>
				<rect x="<%=ex*300/a.length%>" width="<%=e.length*300/a.length%>" height="20" style="fill:#599ab9;stroke-width:1" />
		      <%end%>
			  </svg>
			<%else%>
			  <span>If you give me the sequence, I'll show you the graphic.</span>
			<%end%>
		  </div>
		  <div class="edit">
		    <%= link_to "EDIT", edit_dashboard_gene_path(@gene) %>
		    <%= link_to "BACK", dashboard_genes_path %><br><br><br><br>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</body>
<style>
	.gene, .pcr{
		overflow: auto;
		margin:0 20px;
	}
	
	.lable, .detail{
		display:inline-block;
		float: left;
		max-width:40%;
		margin: 5px 20px;
	}
	.edit{
		display:inline-block;
		margin: 5px 20px;
		width: 70%;
	}
	@media screen and (max-width: 32em) {
	h1 span{
	display: none;
	}
	}
</style>
</html>